<p>sidebar works!</p>

<!-- HTML for the sidebar component -->

<div class="sidebar">
    <h2> </h2>
    <img src="./assets/headshotJG.png" alt="Profile picture" style="float: left; margin-top: 40px; margin-bottom: 20px; margin-right: 10px; width: 150px; clear: both;">

    <h2>Education</h2>
    <ul>
        <li>Temple University, College of Science &amp; Technology,</li>
        <li>Philadelphia, PA</li>
        <li>Bachelor of Science in Computer Science, Expected Graduation: May 2023</li>
        <li>GPA 3.6</li>
    </ul>
    
    <h2>Skills</h2>
    <ul style="margin-bottom: 0; margin-top: 0;">
        <li>Java</li>
        <li>Python</li>
        <li>C/C++</li>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Node.js</li>
        <li>AWS (ec2/RDS)</li>
        <li>SQL</li>
        <li>UX Design</li>
        <li>Git</li>
        <li>Version Control</li>
        <li>TDD</li>
        <li>Linux / Kali</li>
    </ul>

</div>
